<a href="https://colab.research.google.com/github/thisisraj57/Python-Practice-Complete-python-Bootcamp/blob/main/Cognizant_Python_Practice_Complete_python_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/tree/master

In [1]:
2-1

1

In [3]:
2%4

2

In [6]:
a='I am Kanishka Raj'
print(a)
len(a)

I am Kanishka Raj

17

In [9]:
mystring ="Hello Word"
mystring[-2]

'r'

In [10]:
raj="abcdefghijkl"

In [12]:
raj[2:7:2]

'ceg'

In [13]:
raj[::-1]

'lkjihgfedcba'

In [14]:
name= 'Sam'

In [15]:
last_letter= name[1:]

In [16]:
last_letter

'am'

In [17]:
x= "I am beautiful"

In [24]:
x= x + "in my room"

In [25]:
x

'I am beautifulin my roomin my roomin my room'

In [27]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [28]:
print('this is a {1} string {0} '.format('INSERTED', 'BOx', 'rose'))

this is a BOx string INSERTED

In [29]:
print('{b} this is a {c} string {a} '.format(a='INSERTED', b='BOx', c='rose'))

BOx this is a rose string INSERTED

In [40]:
raj='I like {}'.format('apples')

In [41]:
raj

'I like apples'

In [37]:
print("the result is : {r:1.3f}".format(r= raj))

the result is : 35.032

In [8]:
player = 'Thomas'
points = 33

'Last night, '+player+' scored '+str(points)+' points.'  # concatenation

'Last night, Thomas scored 33 points.'

In [3]:
f'Last night, {player} scored {points} points.'          # string formatting

'Last night, Thomas scored 33 points.'

In [13]:
raj= 'postoffice'
no= 23

'Yesterday I went to, ' + raj + ' which is ' + str(no) + ' km from my home.'
'The ' +raj+ ' is very near to my house which is ' +str(no)

'The postoffice is very near to my house which is 23'

In [21]:
print("I am going to inject %s here" %'my name')
print("I am going to inject %s here and %s" %('my','name'))

I am going to inject my name here
I am going to inject my here and name

In [26]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

He said his name was Fred.
He said his name was 'Fred'.
I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [27]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [28]:
print('Floating point numbers: %5.2f' %(13.144))
print('Floating point numbers: %1.0f' %(13.144))
print('Floating point numbers: %1.5f' %(13.144))
print('Floating point numbers: %10.2f' %(13.144))
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers: 13.14
Floating point numbers: 13
Floating point numbers: 13.14400
Floating point numbers:      13.14
Floating point numbers:                     13.14

In [29]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

In [32]:
print('First: {0}, Second: {1}, Third: {2}'.format('hi!',3.1415,'bye!'))

First: hi!, Second: 3.1415, Third: bye!

In [33]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [39]:
print('{0:15} | {1:20}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit           | Quantity
Apples   |       3.0
Oranges  |        10

In [40]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [42]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{1:10.2f}'.format(13.579, 14.788))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     14.79

In [43]:
name = 'Fred'

print(f"He said his name is {name}.")
print(f"He said his name is {name!r}")

He said his name is Fred.

In [44]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

In [45]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

In [48]:
#List
# Assign a list to an variable named my_list
my_list = [1,2,3]
my_list = ['A string',23,100.232,'o']
len(my_list)

4

In [50]:
my_list = ['one','two','three',4,5]
# Grab element at index 0
my_list[0]

'one'

In [51]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [52]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [54]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [55]:
my_list

['one', 'two', 'three', 4, 5]

In [56]:
# Reassign
my_list = my_list + ['add new item permanently']

In [57]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [58]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [59]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [61]:
# Create a new list
list1 = [1,2,3]
# Append
list1.append('append me!')

In [62]:
list1

[1, 2, 3, 'append me!']

In [63]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [64]:
# Show
list1

[2, 3, 'append me!']

In [65]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [68]:
# Show
popped_item

'append me!'

In [69]:
# Show remaining list
list1

[2, 3]

In [71]:
new_list = ['a','e','x','b','c']
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [72]:
new_list

['c', 'b', 'x', 'e', 'a']

In [74]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [75]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [76]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [77]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [78]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [84]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [85]:
first_col

[1, 4, 7]